.select .label-focused {
  top: -12px !important;
  left: 10px !important;
  @apply transition-04;
}
.select .label-icon-dense {
  left: 1.5rem; 
  top: 0.5rem;
  @apply transition-04;
}
.select .label-icon {
  left: 2rem; 
  top: 1.2rem;
  @apply transition-04;
}
.select .label-dense {
  left: 0.25rem; 
  top: 0.5rem;
  @apply transition-04;
}
.select .label {
  left: 0.5rem; 
  top: 1.2rem;
  @apply transition-04;
}